h1{

  background-color: yellow;
  color: green;




}

header{
  background-color: purple;
  height: 100px;
  width: 100%;


}

nav{
    background-color: #ffe34567;
    height: 100px;
    width: 100%;

  }
  main{
    background-color: orange;
    height: 500px;
    width: 80%;

  }

  aside{
    background-color: #de3122;
    height: 500px;
    width: 20%;
    ;


  }

  footer{
    background-color: #c3cdde;
    height: 100px;
    width: 100%;


  }

#mainwrapper{
  display: flex;

}
#wrapper{
  width:100%;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (max-width: 500px) {

  #mainwrapper{
    display: flex;
    flex-direction: column;
  }
  main{
    width: 100%;
    }
    aside{
      width: 100%;

    }
}
