
#ruta1{
float: left;
width:100px;
height:100px;
background-color: red;


}
#ruta2{
float: left;
width:100px;
height:100px;
background-color: yellow;


}
#ruta3{
float: left;
width:100px;
height:100px;
background-color: green;

}
